* {
    font-family: 'Times New Roman', Times, serif;
    
}

nav {
    display: block;
    padding: 8px;
    background-color: darkgray;
    list-style-type: none;
    overflow: hidden;
    padding: 10px;
    margin: 7px;
    border-radius: 10px;
}

nav a, nav label {
    display: inline;
    margin-bottom: auto;
    margin-top: auto;
    float: left;
    
    border-radius: 10px;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: darkgrey;
    float: left;
}


nav a:hover {
    background-color: white;
    color: black;
}

nav img {
    width: 15px;
    height: 15px;
}

input {
    margin: .5em;
}

h1 {
    color: red;
    text-align: center;
}

body {

    color: black;
    
}

label {
    margin: .5em;
}

