h1 {
    color: red;
    text-align: center;
}


body {
    font-family: "Times New Roman", Times, serif;
    color: black;
    background-color: white;
}

main {
    display: grid;
    grid-template-columns: 35% 30% 35%;
}

.loginForm {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loginForm form {
    display: grid;
    grid-template-columns: 50% 50%;
}

#lbl_username {
    grid-column: 1;
    grid-row: 1;
}

#lbl_password {
    grid-column: 2;
    grid-row: 1;
}

#in_username {
    grid-column: 1;
    grid-row: 2;
}

#in_password {
    grid-column: 2;
    grid-row: 2;
}

#btn_submit {
    grid-column: 1;
    grid-row: 3;
}

#a_forgotPassword {
    grid-row: 3;
    grid-column: 2;
}

#p_register {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}